.content {
  position: relative;
  text-align: center;
}

h1 {
  text-align: center;
  font-family: sans-serif;
  background-color: aqua;
  text-transform: capitalize;
}

h2 {
  color: blueviolet;
  font-family: serif;
  text-transform: capitalize;
}

h3 {
  color: darkmagenta;
  text-transform: capitalize;
}

.search {
  display: block;
  margin: auto;
}
.w-fit-content {
  width: fit-content;
  text-transform: capitalize;
}

.row {
  margin-top: 20px;
  text-transform: capitalize;
}

.col {
  padding: 10px;
  text-transform: capitalize;
}

.description {
  font-weight: normal;
}

footer {
  text-align: center;
}
